.coverage
.coverage.*
.git/
.mypy_cache/
.pytest_cache/
.vscode/
.VSCodeCounter/
__pycache__/
*.egg-info/

atom/
data/
env/
build/
data/
htmlcov/
tests/

*.log
*.in
*.xml

.env
.*.py
.*.ipynb
.*.json
.*.ini
